.academy {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet) {
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
}

.academy__link {
  margin: 27px 0 0 20px;
  padding: 0;
  text-decoration: none;
  font-family: $lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #444444;

  @media (min-width: $tablet) {
    display: block;
    margin: 0;
    padding: 1px 22px 0 126px;
  }

  @media (min-width: $desktop) {
    display: block;
    margin: 0;
    padding: 1px 22px 0 126px;
  }
}

.academy__link-icon {
  margin: 20px 20px 0 0;
  padding: 0;
  color: #666666;
  cursor: pointer;
  transition: all 0.4s ease;

  @media (min-width: $tablet) {
    display: block;
    margin: -7px 0 0;
    padding: 0;
    text-decoration: none;
  }

  @media (min-width: $desktop) {
    margin: -5px 0 0;
  }

  &:hover,
  &:focus {
    color: #68b738;
  }

  &:active {
    color: #444444;
  }
}
