.additional-card {
  margin: 0 auto;
  padding: 14px 20px 0;
  position: relative;
  border-top: 1px solid #cdcdcd;

  @media (min-width: $tablet) {
    width: 100%;
    min-height: 85px;
    margin: 0 auto;
    padding: 0 38px 9px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    border-top: none;
    border-bottom: 1px solid #cdcdcd;
  }

    @media (min-width: $desktop) {             
    margin: 0;                   
    display: flex;              
    flex-direction: column;      
  }
}

.additional-card:last-child {
  @media (min-width: $tablet) {
    border-bottom: none;
  }
}

.additional-card__wrapper {
  @media (min-width: $tablet) {
    width: 100%;
    margin: 26px 0 24px 0;
    padding: 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.additional-card__title {
  margin: 0;
  padding: 0 0 12px 0;
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: left;
  color: #222222;
  @media (min-width: $tablet) {
    width: auto;
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 20px;
  }
}

.additional-card__desc {
  margin: 0 0 15px 1px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  @media (min-width: $tablet) {
    display: block;
    margin: 1px -47px 0 0;
    padding: 0 ;
  }
}

.additional-card__weight,
.additional-card__price {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #444444;
  @media (min-width: $tablet) {
    margin: 0 0 0 0;
    padding: 0;
    font-size: 16px;
    line-height: 20px;
    margin-right: 48px;
  }
}

.additional-card__button {
  margin: 0 auto 18px;
  display: block;
  width: 100%;
  border: none;
  padding: 10px 109px 10px 109px;
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.4s ease;
  text-decoration: none;
  @media (min-width: $tablet) {
    width: 100%;
    margin: 0 auto 18px;
    padding: 10px 286px;
    display: block;
    width: 100%;
  }
}

.button--primary {
  color: #ffffff;
  background-color: $thema;
}

.button--primary:hover {
  background-color: #5eaa2f;
}

.button--primary:active {
  background-color: #5eaa2f;
  color: #8ec36d;
}
