.card-add {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 25px 20px;
  height: 209px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  background-color: #ffffff;
  box-sizing: border-box;
}

.card__add-container {
  width: 219px;
  margin: 0 auto;
  padding: 0 0 20px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.card__add-link {
  text-decoration: none;
  display: block;
}

.card__add-image {
  display: block;
  margin: 0;
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-bottom: 23px;
}

.card__add-desc {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 9px;
}

.card__add-title {
  margin: 0;
  padding: 0;
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #111111;
}

.card__add-text {
  margin: 0;
  padding: 0;
  width: 219px;
  font-family: $lato;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;
}

.card__add-button__link {
  text-decoration: none;
  display: block;
}

.card__add-button {
  margin: 0 auto;
  padding: 10px 94px 10px 94px;
  display: inline-block;
  width: 100%;
  border: none;
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #444444;
  cursor: pointer;
  transition: background-color 0.4s ease;
  text-decoration: none;
}

.button--secondary {
  color: #444444;
  background-color: $thema-basic-grey;
}

.button--secondary:hover {
  background-color: #ebebeb;
}

.button--secondary:active {
  background-color: #ebebeb;
  color: #444444;
}
