.cards__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; 
}
.card {
  margin: 0 auto;
  padding: 20px 20px 24px 20px;
  width: 100%;
  border: 1px solid #ebebeb;
  display: flex;
  flex-direction: column;
  list-style: none;
  background-color: #ffffff;
  box-sizing: border-box;
}

.card__container {
  width: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0 0 18px 0;
}

.card__link {
  display: inline-block;
  text-decoration: none;
  flex-shrink: 0;
}

.card__image {
  display: block;
  width: 140px;
  height: 107px;
  margin: 0;
  padding: 0;
  object-fit: cover;
}

.card__content {
  width: 140px;
  margin: 0 0 5px 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
  gap: 2px;
}

.card__title {
  width: 76px;
  margin: 0 0 12px 0;
  padding: 0;
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
  text-decoration: none;
}

.card__list {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

.card__item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.card__label,
.card__value {
  font-family: $lato;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  color: #444444;
}

.button__link {
  width: 100%;
  list-style: none;
  text-decoration: none;
}

.card__button {
  width: 100%;
  margin: 0;
  padding: 6px 109px 6px 109px;
  border: none;
  outline: none;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  transition: all 0.4s ease-in;
  box-sizing: border-box;
}

.button--primary {
  color: #ffffff;
  background-color: $thema;
}

.card__button-order:hover {
  background-color: #5eaa2f;
}

.card__button-order:active {
  background-color: #5eaa2f;
  font-size: 20px;
  color: #8ec36d;
}
