.contacts {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}

.contacts__wrapper {
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  height: 112px;
  @media (min-width: $tablet) {
    display: flex;
    align-items: center;
    height: 200px;
    padding: 0 70px;
  }
}

.contacts__lead {
  width: 140px;
  margin: 0;
  padding: 26px 0 0 20px;
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  @media (min-width: $tablet) {
    display: block;
    width: 163px;
    margin: 0 0 3px 0;
    padding: 0;
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__address {
  width: 140px;
  margin: 25px 20px 0 0;
  padding: 0 0 0 0;
  font-family: $lato;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  font-style: normal;
  @media (min-width: $tablet) {
    width: 157px;
    margin: -3px 0 0 0;
    padding: 0 0 0 0;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    .line-spacing {
      display: inline-block;
      padding-top: 20px;
    }
  }
}

.contacts__map {
  width: 100%;
  height: 100%;
  padding: 0;
  @media (min-width: $tablet) {
    width: 100%;
    height: 100%;
    padding: 0;
  }
}
