.footer {
  margin: 0;
  padding: 0 0 40px 0;
  background-color: #f2f2f2;
  text-align: center;

  @media (min-width: $tablet) {
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
  }

  @media (min-width: $desktop) {
    margin: 0;
    padding: 0;
  }
}

.footer__container {
  @media (min-width: $tablet) {
    width: 768px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 61px 30px;
  }

  @media (min-width: $desktop) {
    width: 1220px;
    margin: 0 auto;
    padding: 74px 0;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.footer__logo {
  margin: 40px 0 0 0;
  padding: 0 0 15px 0;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.4s ease;
  color: #111111;

  @media (min-width: $tablet) {
    display: block;
    margin: 0 0 0 0;
    padding: 0 160px 0 0;
  }

  @media (min-width: $desktop) {
    display: block;
    margin: 0 0 0 0;
    padding: 0 160px 0 0;

    &:hover,
    &:focus {
      color: #3e3e3e;
    }

    &:active {
      color: #6b6b6b;
    }
  }
}
