.gift {
  margin: 0 0 7px 0;
  padding: 0;
  position: relative;

  @media (min-width: $tablet) {
    width: 700px;
    height: 200px;
    margin: 0 auto 77px;
    padding: 0;
  }

  @media (min-width: $desktop) {
    width: 245px;  
    margin: 0;
    padding: 0;
  }
}

.gift__container {
  position: relative;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  @media (min-width: $tablet) {
    width: 100%;
    padding: 0 0 0;
  }
}

.gift__container::after {
  content: "";
  width: 78px;
  height: 80px;
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  background: url("../../images/gift/icon-gift-m@2x.png") no-repeat center;
  background-size: contain;
  z-index: 10;
}

.gift__wrapper {
  background: #414141 url("../../images/gift/gift-mobile@2x.jpg") no-repeat
    center top;
  background-size: contain;
  width: 100%;
  padding: 186px 20px 42px 20px;
  position: relative;
  display: flex;
  justify-content: center;
}

.gift__wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $thema;
  opacity: 0.85;
  z-index: 1;
}

.gift__content {
  position: relative;
  z-index: 2;
  margin: 0 auto;
  text-align: center;
}

.gift__text {
  display: block;
  max-width: 161px;
  margin: 0 auto;
  font-family: "Lato", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  position: relative;
  z-index: 3;
}

.gift__link {
  display: block;
  text-decoration: none;
}
