.gift {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  height: 290px;
  position: relative;
  box-sizing: border-box;

  @media (min-width: $tablet) {
    display: block;
    width: 707px;
    height: 200px;
    margin: 0 auto 79px;
    padding: 0;
  }

  @media (min-width: $desktop) {
    width: 245px;
    margin: 13px auto;
    padding: 0;
  }
}

.gift__wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  position: relative;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  /* Mobile */
  background-image: -webkit-image-set(
    url("../../images/gift/gift-m@1x.webp") 1x,
    url("../../images/gift/gift-m@2x.webp") 2x
  );
  background-image: image-set(
    url("../../images/gift/gift-m@1x.webp") type("image/webp") 1x,
    url("../../images/gift/gift-m@2x.webp") type("image/webp") 2x,
    url("../../images/gift/gift-m@1x.jpg") 1x,
    url("../../images/gift/gift-m@2x.jpg") 2x
  );

  @media (min-width: $tablet) {
    margin: 0 auto;
    width: 100%;

    padding: 0;

    background-image: -webkit-image-set(
      url("../../images/gift/gift-t@1x.webp") 1x,
      url("../../images/gift/gift-t@2x.webp") 2x
    );
    background-image: image-set(
      url("../../images/gift/gift-t@1x.webp") type("image/webp") 1x,
      url("../../images/gift/gift-t@2x.webp") type("image/webp") 2x,
      url("../../images/gift/gift-t@1x.jpg") 1x,
      url("../../images/gift/gift-t@2x.jpg") 2x
    );
  }

  @media (min-width: $desktop) {
    width: 100%;
    height: 288px;
    padding: 0;

    background-image: -webkit-image-set(
      url("../../images/gift/gift-d@1x.webp") 1x,
      url("../../images/gift/gift-d@2x.webp") 2x
    );
    background-image: image-set(
      url("../../images/gift/gift-d@1x.webp") type("image/webp") 1x,
      url("../../images/gift/gift-d@2x.webp") type("image/webp") 2x,
      url("../../images/gift/gift-d@1x.jpg") 1x,
      url("../../images/gift/gift-d@2x.jpg") 2x
    );
  }
}

.gift__wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #62a73c;
  opacity: 0.85;
  z-index: 1;
}

.gift__container {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  position: relative;
  height: 100%;

  @media (min-width: $desktop) {
    padding: 103px 0 0;
  }
}

.gift__container::after {
  content: "";
  width: 78px;
  height: 80px;
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 10;

  background-image: -webkit-image-set(
    url("../../images/gift/icon-gift-m@1x.webp") 1x,
    url("../../images/gift/icon-gift-m@2x.webp") 2x
  );
  background-image: image-set(
    url("../../images/gift/icon-gift-m@1x.webp") type("image/webp") 1x,
    url("../../images/gift/icon-gift-m@2x.webp") type("image/webp") 2x,
    url("../../images/gift/icon-gift-m@1x.png") 1x,
    url("../../images/gift/icon-gift-m@2x.png") 2x
  );

  @media (min-width: $tablet) {
    width: 80px;
    height: 82px;
    top: 58px;
    left: 118px;

    background-image: -webkit-image-set(
      url("../../images/gift/icon-gift-t@1x.webp") 1x,
      url("../../images/gift/icon-gift-t@2x.webp") 2x
    );
    background-image: image-set(
      url("../../images/gift/icon-gift-t@1x.webp") type("image/webp") 1x,
      url("../../images/gift/icon-gift-t@2x.webp") type("image/webp") 2x,
      url("../../images/gift/icon-gift-t@1x.png") 1x,
      url("../../images/gift/icon-gift-t@2x.png") 2x
    );
  }

  @media (min-width: $desktop) {
    width: 80px;
    height: 83px;
    top: 56px;
    left: 123px;

    background-image: -webkit-image-set(
      url("../../images/gift/icon-gift-d@1x.webp") 1x,
      url("../../images/gift/icon-gift-d@2x.webp") 2x
    );
    background-image: image-set(
      url("../../images/gift/icon-gift-d@1x.webp") type("image/webp") 1x,
      url("../../images/gift/icon-gift-d@2x.webp") type("image/webp") 2x,
      url("../../images/gift/icon-gift-d@1x.png") 1x,
      url("../../images/gift/icon-gift-d@2x.png") 2x
    );
  }
}

.gift__content {
  position: relative;
  z-index: 2;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gift__text {
  display: block;
  width: 162px;
  margin: 143px auto 0;
  font-family: "Lato", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  position: relative;
  z-index: 3;

  @media (min-width: $tablet) {
    width: 161px;
    display: block;
    margin: 2px 0 0 294px;
    padding: 0 0 0 0;
    text-align: left;
  }

  @media (min-width: $desktop) {
    margin: 0 auto;
    padding: 40px 0 0;
    text-align: center;
  }
}

.gift__link {
  display: block;
  text-decoration: none;
  width: 100%;
  height: 100%;
}
