.header {
  padding-top: 65px;
  background-image: url("../../images/logo/logo-text.svg");
  background-position: 50% 23px;
  background-repeat: no-repeat;
  background-size: 101px 18px;
  position: relative;
  border-bottom: 1px solid #d9d9d9;
  width: 320px; 

  @media (min-width: $tablet) {
    margin: 0 27px 22px 0;
    padding: 33px 35px 10px 290px;
    background: none;
    height: 80px;
    box-sizing: border-box;
    border-bottom: none;
  }
}

.header__logo {
  position: absolute;
  top: 13px;
  left: 19px;

  @media (min-width: $tablet) {
    display: block;
    top: 25px;
    left: 29px;
  }
}
