.header {
  margin: 0;
  padding: 65px 0 0 0;
  background-image: url("../../images/logo/logo-text.svg");
  background-position: 50% 23px;
  background-repeat: no-repeat;
  background-size: 101px 20px;
  position: relative;
  border-bottom: 1px solid #d9d9d9;
  box-sizing: border-box;

  @media (min-width: $tablet) {
    margin: 0 0 40px 0;
    padding: 33px 34px 22px 290px;
    background: none;
    box-sizing: border-box;
    border-bottom: none;
  }

  @media (min-width: $desktop) {
    margin: 0 auto 16px;
    padding: 76px 0 0 630px;
    width: 1220px;
    min-height: 116px;
    z-index: 10;
  }
}
.header__logo {
  width: 33px;
  height: 38px;
  position: absolute;
  top: 13px;
  left: 20px;
  display: block;
  flex-shrink: 0;

  @media (min-width: $tablet) {
    width: 174px;
    height: 50;
    display: block;
    top: 25px;
    left: 30px;
  }

  @media (min-width: $desktop) {
    width: 202px;
    height: 59;
    top: 55px;
    left: 0;
  }
}
