.main-nav {
  margin: 0;
  padding: 0;
  position: relative;

  @media (min-width: $tablet) {
    padding-bottom: 20px;
    padding: 8px 0 0 0;
  }

  @media (min-width: $desktop) {
    margin: 9px 1px 0 0;
    padding: 0;
  }
}

.main-nav__toggle {
  width: 24px;
  height: 24px;
  border: none;
  right: 21px;
  top: -45px;
  background: url("../../icons/stack.svg#burger");
  color: #000000;
  position: absolute;
  display: none;
  cursor: pointer;

  @media (min-width: $tablet) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle {
  display: block;

  @media (min-width: $tablet) {
    display: none;
  }
}

.main-nav--opened .main-nav__toggle {
  display: block;

  background-image: url("../../icons/stack.svg#cross");

  @media (min-width: $tablet) {
    display: none;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 1px solid #e6e6e6;

  @media (min-width: $tablet) {
    margin: -9px auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    border: none;
    gap: 34px;
  }

  @media (min-width: $desktop) {
    gap: 34px;
  }
}

.main-nav--closed .main-nav__list {
  display: none;

  @media (min-width: $tablet) {
    display: flex;
  }
}

.main-nav--opened .main-nav__list {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background: #ffffff;
  color: #000000;
  width: 100%;

  @media (min-width: $tablet) {
    position: static;
    display: flex;
  }
}

.main-nav__item {
  border-bottom: 1px solid #e6e6e6;

  @media (min-width: $tablet) {
    border: none;
  }
}

.main-nav__link {
  font-family: $oswald;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  display: block;
  text-align: center;
  padding: 22px 5px 23px;

  @media (min-width: $tablet) {
    margin: 0 0 0 0;
    padding: 7px 0 0;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop) {
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 20px;
  }
}

.main-nav--index .main-nav__link {
  @media (min-width: $desktop) {
    color: #ffffff;
  }

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.3;
  }
}



.main-nav__link--current {
  @media (min-width: $tablet) {
    text-decoration: underline solid $thema 2px;
    text-underline-offset: 11px;
  }

  @media (min-width: $desktop) {
    text-decoration: underline solid $thema 2px;
    text-underline-offset: 12px;
  }

   &:hover {
    opacity: 0.6;
  }

  &:focus{
    opacity: 0.3;
  }
}

.main-nav--index .main-nav__link--current {
  @media (min-width: $desktop) {
    text-decoration-color: #ffffff;
  }
}
