.promo {
  text-align: center;
  color: #ffffff;
  margin: 0 0 21px;
  padding: 0;

  @media (min-width: $tablet) {
    color: #000000;
    width: 709px;
    margin: 0 auto;
    padding: 24px 91px 525px;
    box-sizing: border-box;
    position: relative;
    text-align: left;

    &::before {
      content: "";
      width: 709px;
      height: 609px;
      position: absolute;
      bottom: 0;
      left: 0;
      background: url("../../images/promo/promo-can-tablet@1x.jpg") no-repeat 0 0;


      background-image:
        image-set(
          url("../../images/promo/promo-can-tablet@1x.webp") type("image/webp") 1x,
          url("../../images/promo/promo-can-tablet@1x.jpg") type("image/jpg") 1x,
          url("../../images/promo/promo-can-tablet@2x.webp") type("image/webp") 2x,
          url("../../images/promo/promo-can-tablet@2x.jpg") type("image/jpg") 2x
        );
    }
  }

  @media (min-width: $desktop) {
    margin: 0 0 82px;
    padding: 0;
    width: auto;

    &::before {
      width: 50%;
      height: calc(100% + 129px);
      bottom: unset;
      left: 50%;
      top: -132px;
      z-index: 1;

      background: #3f3d42 url("../../images/promo/promo-cat-desktop@1x.jpg") no-repeat 0 0;
      background-size: auto 100%;

      background-image:
        image-set(
          url("../../images/promo/promo-cat-desktop@1x.webp") type("image/webp") 1x,
          url("../../images/promo/promo-cat-desktop@1x.jpg") type("image/jpg") 1x,
          url("../../images/promo/promo-cat-desktop@2x.webp") type("image/webp") 2x,
          url("../../images/promo/promo-cat-desktop@2x.jpg") type("image/jpg") 2x
        );
    }

    &::after {
      content: "";
      width: 50%;
      height: calc(100% + 132px);
      left: 50%;
      top: -132px;
      background: $thema;
      opacity: 0.85;
      z-index: 2;
      position: absolute;
    }
  }
}

.promo__block {
  @media (min-width: $desktop) {
    width: 1220px;
    margin: 0 auto;
    padding: 92px 640px 185px 80px;
    min-height: 562px;

    &::before {
      content: "";
      width: 552px;
      height: 499px;
      position: absolute;
      left: 50%;
      margin-left: -163px;
      top: 11px;
      z-index: 5;
      background: url("../../images/promo/promo-can-desktop@1x.jpg") no-repeat 0 0;

      background-image:
        image-set(
          url("../../images/promo/promo-can-desktop@1x.webp") type("image/webp") 1x,
          url("../../images/promo/promo-can-desktop@1x.jpg") type("image/jpg") 1x,
          url("../../images/promo/promo-can-desktop@2x.webp") type("image/webp") 2x,
          url("../../images/promo/promo-can-desktop@2x.jpg") type("image/jpg") 2x
        );
    }
  }
}

.promo__container {
  padding-bottom: 135px;
  position: relative;
  margin-bottom: 3px;

  &::before {
    content: "";
    width: 280px;
    height: 270px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: 10;


    background-image:
      image-set(
        url("../../images/promo/promo-can-mobile@1x.webp") type("image/webp") 1x,
        url("../../images/promo/promo-can-mobile@1x.jpg") type("image/jpg") 1x,
        url("../../images/promo/promo-can-mobile@2x.webp") type("image/webp") 2x,
        url("../../images/promo/promo-can-mobile@2x.jpg") type("image/jpg") 2x
      );
  }

  @media (min-width: $tablet) {
    padding-bottom: 0;
    margin-bottom: 0;

    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop) {
    margin: 0 0 -70px;
    padding: 0;
  }
}

.promo__wrapper {
  background:
    #4f4e4f url("../../images/promo/promo-cat-mobile@1x.jpg")
    no-repeat center top;
  width: 100%;
  height: 302px;
  background-size: contain;
  padding: 26px 0 165px;
  position: relative;

  background-image:
    image-set(
      url("../../images/promo/promo-cat-mobile@1x.webp") type("image/webp") 1x,
      url("../../images/promo/promo-cat-mobile@1x.jpg") type("image/jpg") 1x,
      url("../../images/promo/promo-cat-mobile@2x.webp") type("image/webp") 2x,
      url("../../images/promo/promo-cat-mobile@2x.jpg") type("image/jpg") 2x
    );

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: $thema;
    opacity: 0.85;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
  }

  @media (min-width: $tablet) {
    background: none;
    padding: 0;
    margin: 0 0 -72px;

    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop) {
    margin: 0;
  }
}

.promo__title {
  margin: 0 auto 25px 10px;
  padding: 0;
  font-family: $oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  width: 300px;
  position: relative;
  z-index: 10;

  @media (min-width: $tablet) {
    margin: 0 0 40px;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    width: auto;
  }

  @media (min-width: $desktop) {
    margin: 0 0 40px;
  }
}

.promo__slogan {
  margin: 0 auto;
  padding: 0;
  font-family: $oswald;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  width: 300px;
  position: relative;
  z-index: 10;

  @media (min-width: $tablet) {
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    width: auto;
  }

  @media (min-width: $desktop) {
    margin: 0 0 52px;
  }
}

.promo__link {
  margin: 0 20px;
  display: block;
  font-family: $oswald;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: $thema;
  text-decoration: none;
  padding: 9px 0 10px;

  @media (min-width: $tablet) {
    display: inline-block;
    margin: 0;
    padding: 14px 27px 13px;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    position: relative;
    z-index: 5;

    &:hover {
      background-color: #5eaa2f;
    }

    &:active {
      background-color: #5eaa2f;
      opacity: 0.3;
    }
  }
}
