.social {
  margin: 0;
  padding: 0;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet) {
    margin: 0;
    padding: 0;
    border-top: none;
    border-bottom: none;
  }
}

.social__list {
  width: 132px;
  margin: 0 auto;
  padding: 21px 0 15px;
  list-style: none;
  display: flex;
  gap: 24px;

  @media (min-width: $tablet) {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 24px;
    border: none;
    width: 132px;
  }

<<<<<<< HEAD
    @media (min-width: $desktop) {
=======
  @media (min-width: $desktop) {
>>>>>>> 5a1a787c65b8707ac5b104b079e8908cb1f2093f
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 24px;
    border: none;
    width: 132px;
  }
}

.social__item {
  margin: 0;
  padding: 0;
}

.social__link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #666666;
  cursor: pointer;
  transition: all 0.4s ease;

  &:hover,
  &:focus {
<<<<<<< HEAD
  color: #68b738;
=======
    color: #68b738;
>>>>>>> 5a1a787c65b8707ac5b104b079e8908cb1f2093f
  }

  &:active {
    color: #68b738;
    opacity: 0.3;
  }
}
