.special-title {
  font-family: $oswald;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  position: relative;

  @media (min-width: $tablet) {
    margin: 0 0 80px 50px;
    padding: 0 0 0 0;
    font-size: 32px;
    line-height: 32px;
  }

  &::before {
    content: "";
    border-top: 2px solid $thema;
    width: 100%;
    height: 1px;
    display: block;
    position: absolute;
    top: 9px;
    left: 0;
    z-index: 1;

    @media (min-width: $tablet) {
      width: 111%;
      height: 1px;
      display: block;
      position: absolute;
      top: 15px;
      left: -50px;
      z-index: 1;
    }
  }
}

.special-title__text {
  display: inline-block;
  padding: 0 40px 0 20px;
  background-color: #ffffff;
  position: relative;
  z-index: 2;
  @media (min-width: $tablet) {
    display: inline-block;
    padding: 0 40px 0 20px;
    background-color: #ffffff;
    position: relative;
    z-index: 2;
  }
}
