.subscribe {
  width: 100%;
  margin: 0;
  padding: 0 0 40px 0;
  background-color: #ffffff;

  @media (min-width: $tablet) {
    margin: 0 0 81px;
    padding: 0;
  }
}

.subscribe__title {
  margin: 0 0 31px;

  @media (min-width: $tablet) {
    margin: 0;
    padding: 0;
  }
}

.subscribe__container {
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $tablet) {
    margin: 0 auto 34px;
    padding: 0;
    width: 100%;
  }
}

.subscribe__description {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px 24px 20px;
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #000;

  @media (min-width: $tablet) {
    width: 632px;
    margin: -11px 0 23px 68px;
    padding: 0;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
  }
}

.subscribe__form {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (min-width: $tablet) {
    width: 632px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 0;
  }
}

.subscribe__input {
  border: 1px solid #cdcdcd;
  margin: 0;
  padding: 10px 13px 0px 13px;
  width: 100%;
  height: 56px;
  outline: none;
  border-radius: none;
  @media (min-width: $tablet) {
    width: 376px;
    margin: 0;
    padding: 9px 12px 0;
  }
}

::placeholder {
  margin: 0;
  padding: 0;
  font-family: $oswald;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  color: #444444;
  text-align: left;
  @media (min-width: $tablet) {
    margin: 0;
    padding: 0;
  }
}

.subscribe__button {
  margin: 0;
  padding: 15px 26px;
  display: inline-block;
  font-family: $oswald;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  border: none;

  @media (min-width: $tablet) {
    width: 256px;
    margin: 0;
    padding: 0 70px 0;
  }
}
